body {background-color: rgb(0, 0, 0);}
  	p {color: rgb(204, 153, 0);}
  	
  	*{box-sizing: border-box;}
  	
  	.row {content:""; display: table; clear: both;}
  	 
  	 .columnLeft{float: left; width:33.33%; padding: 10px;}
 
   	 }
  	 
  	 .columnRight{float: left; width:33.33%; padding: 10px;}
 
   	 }
  	 
	.columnRighty{float: left; width:33.33%; padding: 10px;}


ul.nav{list-style-type: none; background-color: black; margin: 0; padding: 2; overflow: hidden;}

li a {float: left; display: block; color: white; padding: 16px 24px; text-align: left; }

li a:hover {background-color: white; color: black; }

div.a {
  text-indent: 50px;
}